.contain-edit-product {
  display: flex;
  background-color: white;
  /* border: 1px solid green; */
}
.listContainer {
  width: 100%;
  /* background-color: rgb(247, 247, 247); */
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}
.listTitle {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
}
.form-contain {
  background-color: rgb(248, 250, 250);
  text-align: left;
  /* border: 1px solid green; */
  padding: 50px 70px;
}
.form-contain label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgb(127, 127, 127);
}
.form-contain input,
.form-contain textarea {
  width: 90%;
  margin-bottom: 25px;
  border: 2px solid rgb(200, 200, 200);
}
.form-contain button {
  margin-top: 50px;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  margin-right: 20px;
}
.updateBtn {
  color: white;
  background-color: rgb(76, 71, 225);
}
.updateBtn:hover,
.updateBtn:active {
  background-color: rgb(104, 157, 255);
}
.cancelBtn {
  color: white;
  background-color: rgb(71, 71, 71);
}
.cancelBtn:hover,
.cancelBtn:active {
  background-color: rgb(195, 195, 195);
  color: black;
}
