.product {
  font-size: 14px;
  font-weight: 500;
  overflow: auto;
}

.price {
  color: rgb(154, 154, 154);
  font-size: 14px;
  font-weight: 500;
}
.icon {
  color: rgb(105, 105, 105);
  background-color: white;
  border: none;
}
.icon:hover,
.icon:active {
  color: black;
}
.quantity {
  display: inline-block;
  border: none;
  width: 70%;
  text-align: center;
}
.row-table {
  --bs-gutter-x: 0 !important;
  border: 1px solid rgb(220, 220, 220);
}
@media only screen and (max-width: 992px) {
  .product {
    font-size: 12px;
  }
  .price {
    font-size: 12px;
  }
}
