.header {
  background-color: rgb(235, 235, 235);
  height: 25vh;
  padding: 0;
  margin: 0;
  --bs-gutter-x: 0 !important;
}
.header h2 {
  font-style: italic;
  text-align: left;
  padding: 0 0 0 8%;
  font-size: 32px;
  color: rgb(40, 40, 40);
}
.header p {
  text-align: right;
  padding: 0 8% 0 0;
  font-style: italic;
  color: rgb(169, 169, 169);
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  /*  */
}
